.footer {
    background-color: white;
    padding: 1em;
    margin-top: auto;
    z-index: 3;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

.footer li {
    display: flex;
    color: rgba(1, 1, 87, 0.879);
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}