ul.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    background-color: white;
}


img {
    height: 150px;
    border-radius: 40%;
}

.Navlink {
    text-decoration: none;
    color: rgba(1, 1, 87, 0.879);
    font-weight: bold;
}

.Navlink :hover {
    text-transform: uppercase;
}

.main {
    padding-inline-start: 2em;
    padding-inline-end: 0;
}